body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fb;
}

.app {
    padding: 15px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    border-radius: 10px;
}

.refresh {
    background: #00c853;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

/* WALLET */
.wallet {
    background: linear-gradient(135deg, #00c853, #00e676);
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin: 20px 0;
}

/* ACTIONS */
.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actions button {
    flex: 1;
    margin: 5px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #00c853;
    color: white;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

/* INPUT */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* BUTTON */
.card button {
    width: 100%;
    padding: 12px;
    background: #00c853;
    border: none;
    color: white;
    border-radius: 10px;
}

/* STATS */
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats div {
    background: white;
    padding: 10px;
    border-radius: 12px;
    flex: 1;
    margin: 5px;
    text-align: center;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* LOGOUT */
.logout {
    width: 100%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
}
